@import "_mixins.scss";

$couleurPrimary: #9356dc;
$couleurSecondary: #ff79da;
$couleurtertiaire: #99e2d0;

.sectionloader{
position: fixed;
background: rgb(147,86,220);
background: linear-gradient(286deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 51%, rgba(153,226,208,1) 99%);
height: 100vh;
width: 100vh;
z-index: 1;
  animation: pagetransition 5s forwards;

}
@keyframes pagetransition {
  0%{opacity: 1;}
  100%{opacity: 0;
    z-index: -1;
  display: none;}
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgb(250, 253, 249);
  box-sizing: border-box;
}
h1 {
  @include border;
  font-family: "shrikhand";
}

// **************************************
// Layout GRID
// *************************************
container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(210px auto));
  grid-template-areas:
    "a "
    "a "
    "b "
    "c "
    "d "
    "e ";
  gap: 10px;
  height: 100vh;
}
hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #7a7373 inset;
}
.header {
  grid-area: a;

  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &__logo img {
    width: 200px;
    height: auto;
  }
}
.geo {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 252, 251);

  &__icon {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  &__city input {
    border: transparent;
  }
}

.home {
  background-color: rgb(240, 235, 235);
  grid-area: b;
  display: grid;
  align-content: center;

  &__h1 {
    text-align: center;
  }
  &__clickbalt {
    text-align: center;
    font-size: 16px;
  }
  &__btn {
    text-align: center;
  }
  &__btn button {
    background: linear-gradient($couleurSecondary, $couleurPrimary);
    color: white;
    border-radius: 35px;
    padding: 15px;
    text-align: center;
    border: none;
  }
}

// ************************************************************************************
// FEATURE //FONCTIONNEMENT
// *****************************************************************************************

.feature {
  background-color: rgba(255, 255, 255, 0.39);

  grid-area: c;
  .fcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
    .feat {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 15px;
      box-shadow: 5px 5px 15px 5px #0000001a;

      padding: 10px;
      border-radius: 20px;
      width: 328px;

      &__rank {
        position: relative;
        color: white;
        width: 30px;
        height: 30px;
        background-color: $couleurPrimary;
        border: solid 2px $couleurPrimary;
        text-align: center;
        border-radius: 24px;
        font-size: 19px;
        transform: translate(-25px, 0px);
      }
      &__logo {
        font-size: 19px;
      }
      &__text {
        font-size: 17px;
      }
    }
  }
}
// ********************************************************************************
// RESTAURANT & carte
// *********************************************************************************
.section {
  background-color: #f6f6f6;
  grid-area: d;

  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    .carte {
      background-color: #f6f6f6;
      margin-bottom: 16px;
      width: 350px;
      border-radius: 10px 10px 0 0;
      box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 15px 2px;

      &__photo img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        object-fit: cover;
        height: 170px;
        // position: absolute;
      }
      &__name {
        margin-left: 15px;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
      }
      &__city {
        margin-left: 15px;
        font-size: 18px;
        margin-bottom: 25px;
      }
    }
  }
}

// ****************************
// position rel /abs img
// ****************************
.nouveau {
  background-color: #99e2d0;
  border: none;
  font-size: 18px;
  padding: 12px;
  position: relative;
  top: 15px;
  left: 245px;
}
// FAVORITE HEART ICON
.carte__favorit{
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
 
}
.carte__favorite i{
  color:green;
  
  
}


// ************************************************************
// FOOTER
// *********************************************************

// .footer {

// }
.footer__contenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer__logo {
  padding-bottom: 15px;
  margin-left: 27px;
}
.footer__logo img {
  width: 135px;
}
li a {
  padding-bottom: 7px;
  color: white;
  margin-left: 28px;
  display: flex;
}

.fas {
  margin-right: 10px;
}

.footer__offre a:nth-child {
  margin-left: 45px;
}

// *******************************************************************
// ******************************************************************
// page 2
// ******************************************************************
// *******************************************************************
.label {
  display: flex;
  justify-content: center;
}
.label img {
  font-size: 25px;
  width: 200px;
  background-image: cover;
  background-position: bottom;
}
.alacarte {
  width: 100%;
}
.alacarte img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.alacarte__name {
  border: rgb(23, 214, 119) solid 2px;
  padding: 25px;
  position: relative;
  color: black;
  background-color: white;
  top: -20px;
  border-radius: 25px 25px 0 0;
}

// *************ENTREES********************
.direction__column {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.plats__intro {
  margin: 15px;
}

.menu {
  border: rgba(238, 235, 235, 0.774) solid 4px;
  box-shadow: #f6f6f6 15px 15px;
  border-radius: 18px;
  padding: 10px;
  width: 340px;
  margin: 10px;
  &__name {
    font-weight: bold;
    font-size: 20px;
  }
}

.menu__valid {
  border: solid rgb(7, 108, 175) 2px;
  width: 200px;
  height: 50px;
  background-color: rgb(9, 143, 177);
}

.menu__animation {
  border: solid red 2px;
  display: flex;
}
