$couleurPrimary: #9356dc;
$couleurSecondary: #ff79da;
$couleurtertiaire: #99e2d0;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
}

// **************************************
// Layout GRID
// *************************************
container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, minmax(210px auto));
  grid-template-areas:
    "a a a a a "
    "a a a a a"
    "b b b b b"
    "c c c c c"
    "d d d d d"
    "e e e e e";
  gap: 10px;
  height: 100vh;
  font-size: 35px;
}
hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #7a7373 inset;
}
.header {
  grid-area: a;

  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &__logo img {
    width: 200px;
    height: auto;
  }
}
.geo {
  display: flex;
  justify-content: center;
  border: solid red 4px;
  background-color: rgb(250, 252, 251);

  &__icon {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  &__city input {
    border: transparent;
  }
}

.home {
  background-color: rgb(240, 235, 235);
  grid-area: b;
  display: grid;
  align-content: center;

  &__h1 {
    font-size: 24px;
    text-align: center;
  }
  &__clickbalt {
    text-align: center;
    font-size: 16px;
  }
  &__btn {
    text-align: center;
  }
  &__btn button {
    background: linear-gradient($couleurSecondary, $couleurPrimary);
    color: white;
    border-radius: 35px;
    padding: 15px;
    text-align: center;
  }
}

// ************************************************************************************
// FEATURE //FONCTIONNEMENT
// *****************************************************************************************

.feature {
  background-color: rgba(255, 255, 255, 0.39);

  grid-area: c;
  .fcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
    .feat {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 15px;
      box-shadow: 5px 5px 15px 5px #0000001a;

      padding: 10px;
      border-radius: 20px;
      width: 328px;

      &__rank {
        position: relative;
        color: red;
        width: 30px;
        height: 30px;
        background-color: $couleurPrimary;
        border: solid 2px $couleurSecondary;
        text-align: center;
        border-radius: 24px;
        font-size: 19px;
        transform: translate(-25px, 0px);
      }
      &__logo {
        font-size: 19px;
      }
      &__text {
        font-size: 17px;
      }
    }
  }
}
// ********************************************************************************
// RESTAURANT & carte
// *********************************************************************************
.section {
  background-color: #f6f6f6;
  grid-area: d;

  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    .carte {
      background-color: #f6f6f6;
      margin-bottom: 16px;
      width: 350px;
      border-radius: 10px 10px 0 0;
      box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 15px 2px;

      &__photo img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        object-fit: cover;
        height: 170px;
      }
      &__name {
        margin-left: 15px;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
      }
      &__city {
        margin-left: 15px;
        font-size: 18px;
        margin-bottom: 25px;
      }
    }
  }
}
// ************************************************************
// FOOTER
// *********************************************************

.footer {
  font-size: 50%;
  grid-area: e;
  background-color: grey;
  .info__logo img {
    width: 150px;
  }
  ul {
    display: flex;
    margin-left: 15px;
  }
}

// *******************************************************************
// ******************************************************************
// page 2
// ******************************************************************
// *******************************************************************
.label{
  display: flex;
 justify-content: center;
}
.label img {
  font-size: 25px;
  width: 200px;
  background-image: cover;
  background-position: bottom;
}
.alacarte{
border: solid gold 4px;
width: 100%;

}
.alacarte img {
  width: 100%;
  height: 250px;
  object-fit: cover;
 
}

.alacarte__name {
  border: rgba(0, 0, 0, 0) solid 2px;
  padding: 25px;
  position: relative;
  color: black;
  background-color: white;
  top:-20px;
  border-radius: 25px 25px 0 0;
  font-size: 1rem;
  font-style: italic;

text-align: center;
  font-weight: bold;
}

