@import "_mixins.scss";

$couleurPrimary: #9356dc;
$couleurSecondary: #ff79da;
$couleurTertiaire: #99e2d0;
$CouleurBackground: #353535;

%bradius {
  border-radius: 20px;
}
@mixin mauto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin testvisual {
  border: solid 4px crimson;
}
@mixin testbackground {
  background: grey;
}



// ********** Loader spinner cercle + onde spectral

.sectionloader {
 @include flexcenter;
  align-items: center;
  position: fixed;
  background: rgb(147, 86, 220);
  background: linear-gradient(286deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 51%, rgba(153, 226, 208, 1) 99%);
  height: 100vh;
  margin-top: -20px;
  width: 100%;
  z-index: 1;
  animation: pagetransition 5s forwards;
}
// presentation
@keyframes pagetransition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

.chargement {
  background: linear-gradient(to bottom, rgba(255, 61, 223, 0) 0%, rgba(0, 217, 255, 0.459) 100%);
  filter: blur(0.1px);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.chargement:after {
  content: "";
  width: 220px;
  height: 220px;
  border: solid transparent 9px;
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -6px;
  border-radius: 180px;
  border-top-color: rgba(214, 7, 255, 0.233);
  // filter: hue-rotate(250deg);
  animation: spinring 1s linear infinite;
}

@keyframes spinring {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(250deg);
    filter: blur(0.4px);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(110deg);
    filter: blur(5px);
  }
}

span {
  width: 30px;
  height: 230px;
  position: relative;
  bottom: -100px;
}

span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 10px;
  background: rgb(147, 86, 220);
  background: radial-gradient(circle, rgba(147, 86, 220, 1) 15%, rgba(247, 105, 208, 1) 100%);
  animation: charge 1s alternate infinite;
}

@keyframes charge {
  0% {
    filter: invert(20%);
    width: 10px;
    height: 10px;
  }
  100% {
    filter: invert(40%);
    width: 20%;
    height: 10%;
  }
}

// delay qui donne un effet spectral au mileu du cercle
.s4:before,
.s5:before,
.s2:before {
  animation-delay: 0.1s;
  background-color: $couleurTertiaire;
}
.s9:before,
.s7:before,
s3:before {
  animation-delay: 0.5s;
  background-color: $couleurTertiaire;
}
// ****** Selecteur Universel
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #f6f6f6;
  box-sizing: border-box;
  font-family: "roboto";
}

// background grisate autour des elements

.background__second {
  background: #f6f6f6f6;
}
.lien {
  color: black;
}
// test
// .icontest {
//   fill: #9356dc;
//   stroke: black;
//   width: 50%;
// }

// **** mixin font + color 
h1{
 @include lestitle;
}

// **************************************
// Layout GRID
// *************************************

// Ligne sous logo
hr {
  height: 7px;
  border: 0;
  box-shadow: 0 10px 10px -10px #7a7373 inset;
  z-index: 2;
}
.header {
  &__logo {
    @include flexcenter;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  &__logo img {
    width: 160px;
    height: auto;
  }
  &__fontaw {
    color: red;
  }
}

// Barre de recherche

.geo {
@include flexcenter;
  background-color: #eaeaea;
  padding: 13px 52px 13px 26px;

  &__icon {
    color: rgb(5, 5, 5);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
  }
  &__city input {
    text-align: center;
    border: transparent;
    background-color: #eaeaea;
    width: 110px;
  }
}
input::placeholder {
  font-weight: 600;
  color: black;
  font-family: "roboto";
  font-size: 16px;
}

// Description du restaurant

.home {
  background-color: #f6f6f6;

  &__h1 {
    text-align: center;
    margin: 35px;
  }
  &__clickbalt {
    text-align: center;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: -15px;
  }
  &__btn {
    text-align: center;
    margin-bottom: 15px;
  }
  &__btn button {
    background: linear-gradient(356deg, rgb(146, 86, 220) 3%, rgba(255, 121, 218, 1) 80%);

    color: white;
    border-radius: 35px;
    text-align: center;
    border: none;
    font-size: 14px;
    padding: 16px;
  }
  &__btn button:hover {
    cursor: pointer;
    background: linear-gradient(356deg, rgba(146, 86, 220, 0.63) 3%, rgba(255, 121, 217, 0.753) 80%);
    // webkit non accepté sur css valid
    // -webkit-box-shadow: 5px 5px 17px 5px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.45);
  }
}

// ************************************************************************************
// FEATURE //FONCTIONNEMENT
// *****************************************************************************************
.feat__bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
}
.fcontain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 20px;
  & .feat:hover {
    background-color: rgba(255, 0, 212, 0.178);
  }
  & .feature__titre {
    margin-bottom: 37px;
    margin-top: 74px;
    width: 85%;
    display: flex;
    justify-content: left;
    align-self: start;
  }

  .feat {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 6px 0px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    width: 328px;
    background-color: #f6f6f6;

    &__rank {
      position: relative;
      color: white;
      width: 23px;
      height: 23px;
      background-color: $couleurPrimary;
      border: solid 2px $couleurPrimary;
      text-align: center;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 550;
      @include flexcenter;
      align-items: center;
      transform: translate(-25px, 0px);
    }
    &__logo {
      font-size: 19px;
      color: rgba(0, 0, 0, 0.575);
      margin-right: 10px;
      margin-left: -15px;
      // border:solid green 4px;
      width: 35px;
      text-align: center;
    }
    &__text {
      font-size: 17px;
      font-weight: bold;
   @include flexcenter;
    }
  }
}

// ********************************************************************************
// RESTAURANT & carte
// *********************************************************************************
.section {
  padding: 3px;
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .flex1 {
      margin: 20px;
      flex-basis: 400px;
      flex-grow: 1;
    }
    & .carte {
      background-color: white;
      margin-bottom: 16px;
      width: 350px;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 15px 2px;

      &__photo img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        object-fit: cover;
        height: 170px;

        // position: absolute;
      }
      &__name {
        margin-left: 15px;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
      }
      &__city {
        margin-left: 15px;
        font-size: 18px;
        margin-bottom: 25px;
      }
    }
  }
}
.section h2 {
  margin-left: 15px;
}
.carte1 {
  margin-bottom: 16px;
  border-radius: 15px;
  border: solid 1px #d9dade;
  box-shadow:
  //  rgba(0, 0, 0, 0.445) 2px 2px 15px 2px;
    9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  position: relative;
}

.carte1:hover {
  box-shadow:
  //  rgba(0, 0, 0, 0.445) 2px 2px 15px 2px;
    inset 29.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
  transform: translateY(0.25em);
}

// ****************************
// position rel /abs img
// ****************************
.nouveau {
  background-color: #99e2d0;
  border: none;
  font-size: 14px;
  padding: 6px;
  margin-top: 15px;
  position: absolute;
  right: 52px;
}

// FAVORITE HEART ICON
.carte__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carte__favorit {
  // border:solid red 4px;
  width: 50px;
  font-size: 30px;
  display: flex;
  align-self: center;
}
.carte__city {
  font-weight: 200;
}

// ****************************************************** SVG HEART

.iconsv {
  fill: transparent;
  margin-right: 10px;
  stroke: black;
  stroke-width: 3;
  cursor: pointer;
  position: relative;
}

.iconsv svg {
  outline: none;
  overflow: visible;
  width: 30px;
  margin-top: 10px;
}

path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  /* transform-origin: center; */
}

.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
  /* transition: all 4s forwards; */
}
/* .heart-main path{
} */

.heart-main:focus path {
  fill: url(#gradient);
  stroke: transparent;
  animation: hard 0.9s ease-in-out;
}
.gradient {
  transition: all 5s ease-in;
}

.st0 {
  opacity: 0.4;
  fill: url(#gradient);
  stroke: rgb(0, 0, 3);
  stroke-width: 0;
}
.heart-main:hover ~ .heart-background path {
  animation: fade-animation 2s ease-in-out forwards;
}
@keyframes hard {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

// ************************************************** END SVG HEART

// ************************************************************
// FOOTER
// *********************************************************

.footer__contenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $CouleurBackground;
  
}
// ***** Mixin *****
.footer__logo {
  @include pied;
  @include shri;
  }
.footer__logo1{
@include pied;
@include shri;
}
// .footer__logo svg {
//   object-fit: cover;
//   filter:invert(10%);
//  }
.footer__offre p {
  margin-left: 18px;
}


li a {
  padding-bottom: 7px;
  color: white;
  margin-left: 28px;
  display: flex;
}
.footer__partenaire p {
  margin-left: 11px;
}
// i fas fa-ustensils p{
//   margin-left: 15px;
// }
// .fas {
//   margin-right: 10px;
// }

// *******************************************************************
// ******************************************************************
// page 2
// ******************************************************************
// *******************************************************************
.label {
  @include flexcenter;
}
.label img {
  font-size: 25px;
  width: 200px;
  object-fit: cover;
  background-position: bottom;
}
.label i {
  color: black;
  position: relative;
  right: 90px;
  display: flex;
  align-self: center;
  margin-left: 15px;
  font-size: 22px;
}

.alacarte {
  width: 100%;
}
.alacarte img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.alacarte__name {
  padding: 25px;
  position: relative;
  background-color: white;
  top: -20px;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
// @include shri ;
}
.carte__name {
  color: rgba(0, 0, 0, 0.979);

  font-weight: 600;
}
// }
// .heart1-main{
//   margin-top:15px;
//   filter:hue-rotate(10deg);
//   opacity: 1;

//     animation: remp 1s ease;
// }
.heart1-main:hover {
  fill: url(#gradient1);
  stroke: none;
  animation: remp 0.5s ease-in;
}

@keyframes remp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

// ************* Coeur ok mais w3 validator : avertissement **********
// .carte__coeur i:hover{
//    font-weight: 600;
//    background: -webkit-linear-gradient($couleurSecondary,$couleurPrimary);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  background-clip: text;

// }

.delayentree {
  animation: appearance 0.8s ease-out;
}

.delayplats {
  animation: appearance 1.2s ease-out;
}
.delaydessert {
  animation: appearance 1.5s ease-out;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translatey(-250px);
  }
  50% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.direction__column {
  display: flex;
  flex-direction: column;
}
.plats__intro {
  margin: 15px;
  font-weight: 100;
  border-bottom: solid $couleurTertiaire 4px;
  width: 45px;
  height: 35px;
}

.menu {
  cursor: pointer;
  background-color: white;
  box-shadow: #00000018 1px 1px 2px 0;
  border-radius: 18px;
  padding: 0;
  height: 70px;
  width: 95%;
  max-width: 1200px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: 400ms ease;
}

.menu:hover > .menu__animation {
  margin-right: -5px;
}
.menu:hover .checkrotate {
  transform: rotate(360deg);
}

.menu__animation {
  margin-right: -62px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.menu__valid {
@include flexcenter;
  align-items: center;
  font-size: 20px;

  width: 60px;
  height: 72px;
  background-color: $couleurTertiaire;
  border-radius: 0 18px 18px 0;
  position: relative;
  transition: transform 500ms ease-in;
}
.menu__prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

// **** check icon ****

.checkrotate {
  color: white;
  transition: 800ms ease;
}

// ********************* Menu text
.menu__group {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__name {
  font-weight: 620;
  font-size: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}
.menu__subname {
  font-weight: 150;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// BUTTON COMMANDe

.commander {
  background: linear-gradient($couleurSecondary, $couleurPrimary);
  width: 180px;
  margin-bottom: 15px;
 @include flexcenter;
  background: linear-gradient(356deg, rgb(146, 86, 220) 3%, rgba(255, 121, 218, 1) 80%);
  color: white;
  border-radius: 35px;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
  &:hover {
    cursor: pointer;
    // webkit non accepté au valid css
    // -webkit-box-shadow: 5px 5px 17px 5px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.45);
    background: linear-gradient(356deg, rgba(146, 86, 220, 0.63) 3%, rgba(255, 121, 217, 0.753) 80%);
  }
}

.ohmyorder {
 @include flexcenter;
  margin-bottom: 15px;
}

// *************************************************** RESPONSIVE SECTION ****************************************

// ****************************************************************************************************************

@media screen and (min-width: 720px) {
  .section {
    .restaurant {
      .flex1 {
        flex-basis: 450px;
      }
    }
  }
}

@media screen and (min-width: 1628px) {
  .section {
    .restaurant {
      .flex1 {
        flex-basis: 600px;
      }
    }
  }
}
@media screen and (min-width: 1255px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}
