body {
  background-color: rgb(180, 156, 156);

  box-sizing: border-box;
}

.h1 {
  font-weight: bold;
  border: rebeccapurple solid 4px;
  background-color: rgb(233, 178, 178);
  font-size: 40px;
}
